body {
    background-image: url(Images/BackGroundImg.jpg);
    background-color: lightgray;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}



img {
    width: 30px;
    height: 30px;
}

table {
    text-align: center;
}

.TitleOne {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.TableClass {
    display: flex;
    width: 850px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.TableTr {
    width: 850px;
    height: 50px;
    flex-shrink: 0;
    background-color: #13954F ;
}
.TableTh {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TableTd {
    width: 850px;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 1px solid #13954F;
    background-color: #FFF;
}

.CenterCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btnSend {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px 0px 0px 8px;
    background: #13954F;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
 .btnSend:hover {
    background: #2ecc77;
    color: #FFF;
    cursor:pointer;
 }

.txtBox {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: #13954F;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.litTxt {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.FUL {
    width: 183px;
    height: 40px;
    flex-shrink: 0;
    background: #FFF;

}



